.app-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  color: #333;
  line-height: 1.6;
}

.titulo-capa {
    margin-bottom: 1rem;
    text-align: center;
}

.titulo-capa h1 {
    font-size: 5rem;
    color: #7aa0e7;
    margin: 2rem;
}

.titulo-capa p {
    color: #666;
    font-size: 1.5rem;
}

.titulo-capa .info-livro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 2rem;
    background-color: #f0f6f8;
    border-radius: 30px;
    text-align: justify;
}

.titulo-capa .info-livro p {
    margin: 0;
    color: #333;
    font-size: 1.5rem;
}

.titulo-capa .info-livro h2 {
    font-weight: bold;
    color: #7aa0e7;
}