.header {
    background-color: #7aa0e7;
    padding: 34px 18px;
    position: relative;
    z-index: 10;
    width: 220px;
    flex: 0 0 220px;
    height: 70vh;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    border-radius: 10px 10px 6px 6px;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
}
