.img-capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 20px;
}

.img-capa img {
    max-width: auto;
    height: 700px;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    border: 5px solid #7aa0e7;
}

.img-capa .livro-mes {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7aa0e7;
}

.img-capa .livro-mes .nome {
    color: #266beb;
}