.footer {
    padding: 20px;
    margin-top: auto;
    z-index: 10;
    width: 100%;
    justify-content: end;
    box-shadow: 0 -2px 8px rgba(26, 84, 209, 0.08);
}

.footer p {
    color: #7aa0e7;
    text-align: end;
    margin-right: 60px;
}