#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: left;
}

.pagina-nao-encontrada {
  display: flex;
  flex-direction: column; 
  padding: 2rem;
  text-align: center;
  gap: 1rem;
}

.app-shell {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex: 1;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}
